.logout--button {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Opcional, ajusta la altura del contenedor */
}
